.infoDiv {
  display: flex;
  flex-direction: column;
  color: white;
  padding: 20px 50px;
}

.infoDiv a {
  color: white;
  text-decoration: none;
}

.infoDiv a:hover {
  color: rgb(250, 135, 3);
}

.infoDiv p {
  padding-bottom: 10px;
}
.telephoneDiv {
  align-items: flex-end;
  background-color: #337ab7;
}

.meilDiv,
.telephoneDiv {
  text-transform: uppercase;
  font-weight: bold;
}

.meilDiv {
  background-color: #5d9cd2;
}

.divWithLinks {
  align-items: center;
  justify-content: space-between;
  background-color: #132e45;
}

.forMobile::after {
  background-image: url(../../assets/images/icons8-телефон-64.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
  content: '';
  position: absolute;
  margin-left: 10px;
  margin-top: -18px;
}

.forMeil::before {
  background-image: url(../../assets/images/message.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 35px;
  height: 35px;
  content: '';
  position: absolute;
  margin-left: -40px;
  margin-top: -22px;
}

@media (min-width: 768px) {
  .divForTablet {
    width: 100%;
    display: flex;
  }
  .telephoneDiv,
  .meilDiv {
    width: 50%;
    padding: 20px 60px;
  }

  .forMobile::after {
    width: 32px;
    height: 32px;
    margin-top: -20px;
  }
  .forMeil::before {
    margin-left: -45px;
  }
  .divWithLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: stretch;
  }
  .divWithLinks p {
    padding-bottom: 0px;
  }
}
